{
  "bracketSameLine": true,
  "singleQuote": true,
  "printWidth": 120,
  "useTabs": false,
  "trailingComma": "all",
  "arrowParens": "avoid",
  "semi": false,
  "importOrder": ["^react*", "^@tan*", "^use-debounce*", "models/(.*)$", "api/(.*)$", "components/(.*)$", "^[./]"],
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
